@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-200;
  }
  
  body {
    @apply bg-slate-50 text-slate-800 font-sans h-screen overflow-hidden;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Utilitários específicos do protótipo */
.view-section { display: none; }
.view-section.active { display: block; }
